.Our{
    margin-top: 160px;
    position: absolute;
    margin-left: 200px;

    & .container {
        background-image: url(../img/Group\ 28.png);
        justify-content: space-between;
    }

    & .our__info {
        width: 1111px;
        height: 292px;
        display: flex;
    }

    & .our__info1 {
        padding-top: 72px;
        padding-left: 95px;
        padding-bottom: 76px;
    }

    & .our__heading {
        width: 268px;
        color: #FFF;
        font-family:"Jost";
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px; 
    }

    & .our__text {
        width: 459px;
        color: #FFF;
        font-family: "Jost";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; 
    }

    & .our__button {
        color: #333136;
        font-family: "Jost";
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 17px 18px;
        background-color: #fff;
        margin-top: 150px;
        border: 3px solid white;
        margin-left: 340px;
    }

    .our__button:hover {
        border-radius: 8px;
        background: #FFAD9B;
        border: 2px solid #FFAD9B;
    }
}